# {{ ansible_managed }}
# Bind it to the LXC interface
interface=lxcbr0
except-interface=lo
bind-interfaces
# Want DHCP client FQDN
#dhcp-fqdn
# Domain name and ip range with lease time
domain={{ lxc_domain }},{{ lxc_ipnet }}
dhcp-range={{ lxc_dhcp_range }}
dhcp-leasefile=/var/lib/misc/dnsmasq.lxcbr0.leases
# DHCP options
dhcp-option=40,{{ lxc_domain }}
log-dhcp
