# {{ ansible_managed }}

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug eth0
auto eth0
iface eth0 inet manual

auto lxcbr0
iface lxcbr0 inet static
    address {{ lxcbr0_ip }}
    netmask {{ lxcbr0_netmask }}
    gateway {{ ansible_default_ipv4.gateway }}
    network {{ ansible_default_ipv4.network }}
    dns-nameservers 8.8.8.8
    #pre-up brctl addbr lxcbr0
    bridge_fd 0
    bridge_maxwait 0
    dns-nameservers 8.8.8.8
    bridge_ports eth0
    bridge_hello 2
    bridge_maxage 12
    bridge_stp off

source /etc/network/interfaces.d/*.cfg
