# {{ ansible_managed }}

auto lxcbr0
iface lxcbr0 inet static
    pre-up brctl addbr lxcbr0
    bridge_fd 0
    bridge_maxwait 0
    address {{ lxcbr0_ip }}
    netmask {{ lxcbr0_netmask }}
    post-up iptables -A FORWARD -i lxcbr0 -s {{ lxcbr0_ip }}/{{ lxcbr0_netmask }} -j ACCEPT
    post-up iptables -A POSTROUTING -t nat -s {{ lxcbr0_ip }}/{{ lxcbr0_netmask }} -j MASQUERADE
    # add checksum so that dhclient does not complain.
    # udp packets staying on the same host never have a checksum filled else
    post-up iptables -A POSTROUTING -t mangle -p udp --dport bootpc -s {{ lxcbr0_ip }}/{{ lxcbr0_netmask }} -j CHECKSUM --checksum-fill
