USE_LXC_BRIDGE="true"
LXC_BRIDGE="lxcbr0"
LXC_ADDR="{{ lxcbr0_ip }}"
LXC_NETMASK="{{ lxcbr0_netmask }}"
LXC_NETWORK="{{ lxc_ipnet }}"
LXC_DHCP_RANGE="{{ lxc_dhcp_range }}"
LXC_DHCP_CONFILE="/etc/lxc/dnsmasq.conf"
LXC_DOMAIN="{{ lxc_domain }}"
